.slider-container{
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slider-wrapper{
    display: flex;
    width: 1244px;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffffa9;
    width: 25px;
    height: 21rem;
    cursor: pointer;
    font-size: 2rem;
}

@media only screen and (min-width: 1800px) and (max-width: 1950px) {
    .btn{
        margin: 0 17rem;
    }
}

.disable {
  opacity: 0.1;
  pointer-events: none;
}

.prev{
    left: 3.3rem;
    box-shadow: 3px 0px 3px 2px #c4c4c4;
}

.next{
    right: 3.3rem;
    box-shadow: -3px 0px 3px 2px #c4c4c4;
}

.slider-arrow{
    width: 1.8rem;
    height: 1.8rem;
}

.next-arrow{
    transform: rotate(180deg);
}