.detail-backdrop{
    background-color: #555555;
    background: url('../../assets/img/detail_backdrop.jpg');
    background-size: cover;

}

.loading-wrapper{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.loading {
    display: absolute;
    margin: auto;
    width: 4rem;
    height: 4rem;
    border: 10px solid #0baeee;
    border-radius: 50%;
    border-top-color: #b0e3f7;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  .title-loading {
    width: 1244px;
    margin: auto;
    height: 3rem;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background-color:#e2e2ce1a;
}

.title-loading::before{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    width:calc(200% + 200px);
    bottom:0;
    background-image: linear-gradient(
        90deg,
      rgba(46, 46, 46, 1) 0,
      rgba(46, 46, 46, 0.9) 50%,
      rgba(46, 46, 46, 0.8) 100%
    );
    animation: shimmer 1s ease-out infinite;
    content: ""
}

@keyframes shimmer {
    100%{
        transform: translateX(0%);
        opacity: 0;
    }
}

.detail-wrapper, .detail-title{
    width: 1244px;
    margin: auto;
}

.detail-wrapper{
    justify-content: center;
    display: flex;
}

.detail-title{
    display: flex;
    font-size: 1.5rem;
    color: #555555;
    font-weight: 700;
    align-items: center;
    padding: 1.5rem 0 0 0;
}

.detail-back-btn{
    width: 2rem;
    height: 2rem;
    margin: 3rem 0 2rem 0;
    cursor: pointer;
}

/* start left section */
.detail-left-section{
    width: 40%;
}

.poster-detail-wrapper{
    display: flex;
    margin: 3rem 0 2rem 0;
    justify-content: center;
}

.poster-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 24.5rem;
    border-radius: 10px;
    font-size: 1.15rem;
    color: #555555;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #0000001a;
}

.detail-rating-wrapper{
    display: flex;
    width: 16rem;
    margin: auto;
    align-items: center;
    padding: 0 0.5rem 2rem;
}

.detail-metacritic{
    width: 2.5rem;
    height: 2.5rem;
}
.detail-imdb{
    width: 3rem;
    height: 2rem;
}

.detail-metacritic-text, .detail-imdb-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff;
    width: 1rem;
    height: 2rem;
    border-radius: 10px;
}

.detail-metacritic-text{
    padding: 0 1rem;
    margin-left: 1rem;
}

.red{
    background-color: #ff0000;
}

.yellow{
    background-color: #ffcc33;
    color: #3d3d3d;
}

.green{
    background-color: #66cc33;
}

.detail-imdb-text{
    position: absolute;
    margin-left: 3.5rem;
}

.star_rate{
    margin-left: 3.5rem;
    width: 2.9rem;
    height: 2.9rem;
}

/* start right section */
.detail-right-section{
    width: 60%;
}

.detail-info-wrapper{
    padding: 1rem 2rem;
    margin: 0.7rem 0 2rem 0;
}

.detail-info-title,
.detail-info-movie-title,
.detail-info-year,
.detail-info-text, 
.dark{
    color: #ffffff;
    margin: 1rem 0;
}

.detail-info-movie-title{
    font-weight: 700;
    font-size: 2rem;
}

.detail-info-year{
    font-size: 1.7rem;
    margin-top: -1rem;
}

.detail-info-title{
    font-weight: 700;
    font-size: 1.2rem;
}

.detail-info-text{
    font-size: 1rem
}